@font-face{
font-family: 'CaptureitRUSBYLYAJKA';
src: url('../fonts/11991.ttf');
font-weight: normal;
font-style: normal;
}

@font-face{
font-family: 'NK89';
src: url('../fonts/13527.otf');
font-weight: normal;
font-style: normal;
}

@font-face{
font-family: 'HeadlinerNo.45RUSBYLYAJKA';
src: url('../fonts/12277.ttf');
font-weight: normal;
font-style: normal;
}

@font-face{
font-family: 'HVDComicSerifPro';
src: url('../fonts/13417.ttf');
font-weight: normal;
font-style: normal;
}

@font-face{
font-family: 'HVDComicSerifPro';
src: url('../fonts/13417.ttf');
font-weight: normal;
font-style: normal;
}