body {
  margin: 0;
  height: 100vh; }

header {
  background: rgba(220, 220, 220, 0.3);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 1; }

article {
  height: 100vh;
  width: 100vw;
  background-color: blue;
  background-image: url("../img/Cam 3--1.jpg");
  position: absolute;
  top: 0px;
  z-index: 0; }
